<section class="head">
  <h2>Perfiles</h2>
  <div class="gap"></div>
  <button mat-raised-button color="primary" (click)="crear()">
    <mat-icon>add</mat-icon>&nbsp; Nuevo
  </button>
</section>


@if (loading()) {
  <div class="loading"><mat-spinner diameter="48"></mat-spinner></div>
} @else {
  <section class="grid">
    @for (c of items(); track c.id) {
      <mat-card class="perfil" matRipple>
        <div class="row">
          @if (c.fotoURL) {
            <div class="foto-container">
              <img class="foto-base" [src]="c.fotoURL" alt="foto perfil" />
              <img class="foto-hover" [src]="c.fotoURL" alt="foto perfil" />
            </div>
          } @else {
            <div class="avatar initials">
              {{ 'P' + c.id }}
            </div>
          }

          <div class="info">
            <div class="nombre">{{ c.nombre }}</div>
            <div class="sub">Rol: {{ c.rol }}</div>
            <div class="estado" [class.ok]="c.estado === 'ACTIVO'">
              {{ c.estado }}
            </div>
          </div>
        </div>

        <div class="actions">
          <button mat-icon-button [matMenuTriggerFor]="menu">
            <mat-icon>more_vert</mat-icon>
          </button>

          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="editar(c)">
              <mat-icon>edit</mat-icon>
              Editar
            </button>

            <button mat-menu-item (click)="toggleEstado(c)">
              <mat-icon>toggle_on</mat-icon>
              {{ c.estado === 'ACTIVO' ? 'Desactivar' : 'Activar' }}
            </button>

            <mat-divider></mat-divider>

            <button mat-menu-item (click)="eliminar(c)">
              <mat-icon>delete</mat-icon>
              Eliminar
            </button>
          </mat-menu>
        </div>
      </mat-card>
    } @empty {
      <p class="empty">No hay perfiles</p>
    }
  </section>

  @if (paginas() > 1) {
    <section class="paginator">
      <button mat-stroked-button (click)="prevPage()" [disabled]="pagina() === 1">Anterior</button>
      <span>{{ pagina() }} / {{ paginas() }}</span>
      <button mat-stroked-button (click)="nextPage()" [disabled]="pagina() === paginas()">
        Siguiente
      </button>
    </section>
  }
}
