@if (!isLoginPage()) {

<mat-sidenav-container class="shell">
  <mat-sidenav #drawer [mode]="isHandset ? 'over' : 'side'" [(opened)]="opened" class="sidenav">
    <app-sidenav (navigate)="handleNavigate()"></app-sidenav>
  </mat-sidenav>

  <mat-sidenav-content>
    <app-header (menuClick)="opened = !opened"></app-header>

    <main class="content">
      <router-outlet></router-outlet>
    </main>
  </mat-sidenav-content>
</mat-sidenav-container>

} @else {

<!-- 🔐 Página de login -->
<router-outlet></router-outlet>

}
